@charset "utf-8";

$primary: #32b15e;

@import '../node_modules/bulma/bulma.sass';
html {
  overflow: auto;
  overflow-x: hidden;
  font-size: 15px;
}

body {
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}
